{% extends 'aplicacion/home.html' %}

{% block titulo %}
    <h1 class="mb-5">Empanadas</h1>
{% endblock titulo %}
    

{% block contenido %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Precio</th>
        </tr>
    </thead>
    <tbody>
{% for p in Empanadas %}
        <tr>
            <td>{{ p.id }}</td>
            <td>{{ p.nombre }}</td>
            <td>{{ p.precio }}</td>
        </tr>
{% endfor %}
    </tbody>
</table>
{% endblock contenido %}